<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>om os</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
 ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
 ================================================== -->
    <link rel="stylesheet" href="../../../../public/css/base.css">
    <link rel="stylesheet" href="../../../../public/css/main.css">
    <link rel="stylesheet" href="../../../../public/css/vendor.css">

    <!-- script
    ================================================== -->
    <script src="../../../../public/js/modernizr.js"></script>
</head>
<body>
<br>hej du bla bla bla <br>
</body>
</html>